<div id="aboutMe" class="container-fluid-body">
  <div class="card">
    <button *ngIf="isLogged" (click)="isClickedFun()" class="bi bi-pencil-fill"></button>
    <h3>About me...</h3>
    <p class="profile-text"><img class="profile-photo" src="{{persona.img}}">{{persona.descripcion}}</p>
  </div>
  <div *ngIf="isClicked" class="card">
    <h6>Descripción</h6>
    <input id="aboutMe" name="aboutMe" [(ngModel)]="persona.descripcion" type="text">
    <h6>Imagen de perfil</h6>
    <input type="file" (change)="uploadImage($event)">
    <button [disabled]="!localIsUpload" class="send" (click)="saveData()" *ngIf="isLogged">Send</button>
  </div>
</div>