.card{
    border-radius: 30px;
    padding: 20px;
    margin-top: 10px;
    border-radius: 30px;
}

.container-fluid-body{
    padding-top: 10px;
    padding-bottom: 5px;
}

.profile-photo{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    float: left;
    margin: 10px;
}
.profile-text{
    font-size: 20px;
}

