<div id="aboutMe" class="container-fluid-body" >
    <div class="card">
      <h3>About me...</h3>
      <p class="profile-text"><img class="profile-photo" src="{{persona.img}}">{{persona.descripcion}}</p>
    </div>
    <div class="card"  *ngIf="isLogged">
      <h5> Modificar descripcion </h5>
    <input id="aboutMe" name="aboutMe" [(ngModel)]="persona.descripcion" type="text">
    <input type="file" (change)="uploadImage($event)">
    <button (click)="saveData()" *ngIf="isLogged">Send</button>
  </div>
  </div>
