<footer class="footer-container">
  <div class="container flex-container">
    <section class="mb-4 ">
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/esnelm1/?hl=en!"
      role="button"><i class="fab fa-instagram"></i></a>
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/esnel-m-3b59a21b2"
      role="button"><i class="fab fa-linkedin-in"></i></a>
    </section>
    <app-contact></app-contact>
    <app-login></app-login>
    </div>
    <div class="copyright-text">
      <a>{{copyright}}</a>
      <a class="text-white" href="#">{{name}}</a>
    </div>
  </footer>

  
