.card-title, .card-text{
    color:black;
}

.card{
    border-radius: 30px;
    padding: 20px;
}
table {
    width:100%;
    Table-Layout:fixed;
}

.container-fluid-body{
    padding-top: 15px;
}

  
