<div id="capabilities" class="container-fluid-body">
    <div class="card">
      <button *ngIf="isLogged" (click)="isClickedFun()" class="bi bi-pencil-fill"></button>
        <h3>Habilidades</h3>
        <div class="table-container">
        <table>
            <tbody>
                    <th *ngFor="let hys of hySList">
                        <app-percentage-charts count="{{hys.porcentaje}}"
                        name="{{hys.nombre}}"></app-percentage-charts>                       
                    </th>
            </tbody>
        </table>
    </div>
        <div *ngIf="isClicked" class="card-modificaciones">
            <h5>Modificar habilidad</h5>
            <select #list (change)="onSelected(list.value)">
              <option default>Elegir</option>
              <option *ngFor="let hys of hySList" [value]="hys.id">{{hys.nombre}}</option>
            </select>
            <h6>Nombre de la habilidad</h6>
            <input  [(ngModel)]="hyS.nombre" type="text">
            <h6>Porcentaje de la habilidad</h6>
            <input  [(ngModel)]="hyS.porcentaje" type="text">
            <div class="buttons-container" style="text-align: center;">
            <button class="send" (click)="saveData()" >Enviar</button>
            <button class="delete" (click)="onDelete()" >Eliminar</button>
          </div>
          </div>
          <div *ngIf="isClicked" class="card-modificaciones">
            <h5>Crear habilidad</h5>
            <h6>Nombre de la habilidad</h6>
            <input  [(ngModel)]="newHyS.nombre"  type="text">
            <h6>Porcentaje de la habilidad</h6>
            <input  [(ngModel)]="newHyS.porcentaje" type="text">
            <button class="send" (click)="createData()" >Crear</button>
          </div>
    </div>
</div>