.navbar{
    position: fixed; /* Make it stick/fixed */
    top: 20px; /* Stay on top */
    width: 100%; /* Full width */
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
}

.navbar-nav {
    margin: auto;
    background-color: rgba(52, 52, 52, 0.9);
    border-radius: 30px;
}

.nav-item{
    font-size: 26px;
    margin: auto;

}

nav .navbar-nav li a{    
    color: white;
}

nav .navbar-nav li a:hover{    
    color: grey;
    transition: 0.5s;
}

.contact-button{
    color: white;
}

