<form class="dialog" [formGroup]="formLogin" (ngSubmit)="onSubmit()">
    <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="text" class="form-control" formControlName="email">
    </div>
    <div class="mb-3">
        <label class="form-label">Password</label>
        <input type="password" class="form-control" formControlName="password">
    </div>
    <input type="submit" value="Enviar">
    <div *ngIf="isError" class="alert alert-danger" role="alert" style="margin: 10px;">
        Ha ocurrido un error. Verifique sus datos.
    </div>
</form>
