
.card {
    border-radius: 30px;
}

.card-title, .card-text{
    color:black;
}

.card-img-top{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.row{
    padding-left: 15px;
    padding-right: 15px;
    margin: 0;
    overflow-x: auto;
}

.container-fluid-body{
    padding-bottom: 5px;
    padding-top: 5px ;
}
