<div class="container-fluid-card" style="text-align: end;">
  <button *ngIf="isLogged" (click)="isClickedFun()" class="bi bi-pencil-fill"></button>
</div>
<div id="experiences" class="container-fluid-card">
  <div class="row">
    <div *ngFor="let experiences of experienceList" class="col-lg-3 mb-2 d-flex align-items-stretch"
      style="padding:10px;">
      <div class="card">
        <img class="card-img-top" [src]="experiences.img" alt="Card image">
        <div class="card-body d-flex flex-column">
          <p class="card-title"><strong>{{experiences.nombreE}}</strong></p>
          <p class="card-text">{{experiences.descripcionE}}</p>
        </div>
      </div>
    </div>
    <div *ngIf="isClicked" class="card-modificaciones">
      <h5>Modificar experiencia</h5>
      <select #list (change)="onSelected(list.value)">
        <option default>Elegir</option>
        <option *ngFor="let experiences of experienceList" [value]="experiences.id">{{experiences.nombreE}}</option>
      </select>
      <h6>Nombre de la experiencia</h6>
      <input [(ngModel)]="experience.nombreE" type="text">
      <h6>Descripción de la experiencia</h6>
      <input [(ngModel)]="experience.descripcionE" type="text">
      <div class="buttons-container">
        <input type="file" (change)="uploadImage($event)" #fileUploader>
        <button (click)="resetFileUploader()">Eliminar foto</button>
      </div>
      <div class="buttons-container" style="text-align: center;">
        <button [disabled]="!localIsUpload" class="send" (click)="saveData()" >Enviar</button>
        <button class="delete" (click)="onDelete()" >Eliminar</button>
      </div>
    </div>
    <div *ngIf="isClicked" class="card-modificaciones">
      <h5>Crear experiencia</h5>
      <h6>Nombre de la experiencia</h6>
      <input [(ngModel)]="newExperience.nombreE" type="text">
      <h6>Descripción de la experiencia</h6>
      <input [(ngModel)]="newExperience.descripcionE" type="text">
      <div class="buttons-container">
        <input type="file" (change)="uploadImage($event)" #fileUploader>
        <button (click)="resetFileUploader()">Eliminar foto</button>
      </div>
      <button [disabled]="!localIsUpload" class="send" (click)="createData()">Crear</button>
    </div>
  </div>
</div>