.card-title, .card-text{
    color:black;
}

.card{
    border-radius: 30px;
    padding: 20px;
}

.logo{
    float: right;
    height: auto;
    width: 100px;
}

.container-fluid-body{
    padding-top: 15px;
    padding-bottom: 15px;
}