@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
.nav-link{
    color:white
}

h3{
    font-size: bold;
}

.container-fluid-body{
    background-color: rgb(230, 230, 228);
    padding-left: 15px;
    padding-right: 15px ;
}

.container-fluid-card{
    background-color: rgb(230, 230, 228);
}

.send {
    margin-inline: 5px;
    margin-top: 10px;
    border-radius: 10px;
    width: auto;
    align-self: center;
  }
  .delete{
    margin-inline: 5px;
    margin-top: 10px;
    border-radius: 10px;
    width: auto;
    align-self: center;
  }

  .bi.bi-pencil-fill{
    width: auto;
    align-self: end;
    border-radius: 3px;
}

.card-modificaciones{
    border-radius: 10px;
    background-color: rgb(237, 242, 244);
    padding: 10px;
    margin: 5px;
    overflow-x: auto;
}